@using Microsoft.AspNetCore.Identity
@using Ganss.XSS
@inject SignInManager<IdentityUser> SignInManager
@inject HtmlSanitizer sanitizer
@model FeedViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User)) {
    <div class="container-fluid">
        <div class="row">
            @if (Model.HasLess) {
                <div class="col-lg-3"></div>
            } else {
                <div class="col-lg-6 mb-4">
                    <form>
                        <div class="form-group">
                            <label for="txtMessage">Message</label>
                            <textarea class="form-control" id="txtMessage" name="message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            }
            <div class="col-lg-6">
                @if (Model.HasMore) {
                    <div class="alert alert-primary">
                        Showing the @Model.StatusUpdates.Count() most recent items.
                        <br />
                    </div>
                }

                @if (!Model.StatusUpdates.Any()) {
                    <div class="alert alert-secondary">
                        There are no new items to display in your activity feed.
                    </div>
                }

                @if (Model.StatusUpdates.Any()) {
                    <h1>Status Updates</h1>
                    @foreach (var s in Model.StatusUpdates) {
                        <div style="clear: both; border-bottom: 1px dashed currentColor; padding-bottom: 1em; margin-bottom: 1em" class="status">
                            <div style="float: right; text-align: right" class="small">
                                <a href="@s.LinkUrl" target="_blank">
                                    @s.Timestamp.UtcDateTime.ToShortDateString()
                                    <br />
                                    @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                                </a>
                            </div>
                            <h5>
                                <a href="@s.LinkUrl" target="_blank">
                                    @if (s.Author.AvatarUrl != null) {
                                        <img src="@s.Author.AvatarUrl" width="50" height="50" alt="" style="margin-right: 0.25em" class="avatar" />
                                    }
                                    @s.Author.Username
                                </a>
                            </h5>
                            @Html.Raw(sanitizer.Sanitize(s.Html))
                        </div>
                    }
                    <hr />
                }

                @if (Model.HasMore || Model.HasLess) {
                    <p>
                        @if (Model.HasLess) {
                            <a class="btn btn-primary" href="/?key=@Model.Key&offset=@Model.LastOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                &laquo; Previous page
                            </a>
                        }

                        @if (Model.HasMore) {
                            <a class="btn btn-primary" href="/?key=@Model.Key&offset=@Model.NextOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                Next page &raquo;
                            </a>
                        }
                    </p>
                }
            </div>
        </div>
    </div>

    <style type="text/css">
        .status img:not(.avatar) {
            width: 100%;
            max-height: 150px;
            object-fit: contain;
        }
    </style>
} else {
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}