@using Microsoft.AspNetCore.Identity
@using Ganss.XSS
@inject SignInManager<IdentityUser> SignInManager
@inject HtmlSanitizer sanitizer
@model FeedViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User)) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 hidden-md"></div>
            <div class="col-lg-6">
                @if (!Model.HasLess) {
                    <form class="mb-4" asp-controller="Home" asp-action="PostStatus" method="post">
                        <div class="form-group">
                            <label for="txtMessage">Message</label>
                            <textarea class="form-control" id="txtMessage" name="text" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            @foreach (string h in Model.Hosts) {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="host" id="host-@h" value="@h">
                                    <label class="form-check-label" for="host-@h">
                                        Post to @h
                                    </label>
                                </div>
                            }
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                }

                @if (Model.HasMore) {
                    <div class="alert alert-primary">
                        Showing the @Model.StatusUpdates.Count() most recent items.
                        <br />
                    </div>
                }

                @if (!Model.StatusUpdates.Any()) {
                    <div class="alert alert-secondary">
                        There are no new items to display in your activity feed.
                    </div>
                }

                @if (Model.StatusUpdates.Any()) {
                    <h1>Status Updates</h1>
                    @foreach (var s in Model.StatusUpdates) {
                        <div class="status">
                            <div class="direct-link small">
                                <a href="@s.LinkUrl" target="_blank">
                                    @s.Timestamp.UtcDateTime.ToShortDateString()
                                    <br />
                                    @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                                </a>
                            </div>
                            <h5 class="header">
                                <a href="@s.Author.ProfileUrl" target="_blank">
                                    @if (s.Author.AvatarUrl != null) {
                                        <img src="@s.Author.AvatarUrl" alt="" class="avatar" />
                                    }
                                    @s.Author.Username
                                </a>
                            </h5>
                            @Html.Raw(sanitizer.Sanitize(s.Html))
                        </div>
                    }
                    <hr />
                }

                @if (Model.HasMore || Model.HasLess) {
                    <p>
                        @if (Model.HasLess) {
                            <a class="btn btn-primary" href="/?key=@Model.Key&offset=@Model.LastOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                &laquo; Previous page
                            </a>
                        }

                        @if (Model.HasMore) {
                            <a class="btn btn-primary" href="/?key=@Model.Key&offset=@Model.NextOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                Next page &raquo;
                            </a>
                        }
                    </p>
                }
            </div>
        </div>
    </div>

    <style type="text/css">
        .status {
            clear: both;
            border-bottom: 1px dashed currentColor;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

            .status img.avatar {
                width: 50px;
                height: 50px;
                margin-right: 0.25em;
            }

            .status img:not(.avatar) {
                width: 100%;
                max-height: 150px;
                object-fit: contain;
            }

            .status > .direct-link {
                float: right;
                text-align: right;
            }

            .status > p:last-child {
                margin-bottom: 0;
            }
    </style>
} else {
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}