@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model FeedViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User)) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-8 mb-4">
                <form>
                    <div class="form-group">
                        <label for="txtMessage">Message</label>
                        <textarea class="form-control" id="txtMessage" name="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                @if (Model.HasMore) {
                    <div class="alert alert-primary">
                        Showing the @Model.FeedItems.Count() most recent items.
                        <br />
                    </div>
                }

                @if (!Model.FeedItems.Any()) {
                    <div class="alert alert-secondary">
                        There are no new items to display in your activity feed.
                    </div>
                }

                @if (Model.FeedItems.Any()) {
                    <h1>Status Updates</h1>
                    @foreach (var s in Model.FeedItems) {
                        <div style="clear: both; border-bottom: 1px dashed currentColor; margin-bottom: 1em">
                            <div style="float: right; text-align: right" class="small">
                                <a href="@s.LinkUrl" target="_blank">
                                    @s.Timestamp.UtcDateTime.ToShortDateString()
                                    <br />
                                    @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                                </a>
                            </div>
                            <h5>
                                <a href="@s.LinkUrl" target="_blank">
                                    @if (s.Author.AvatarUrl != null) {
                                        <img src="@s.Author.AvatarUrl" width="50" height="50" alt="" style="margin-right: 0.25em" />
                                    }
                                    @s.Author.Username
                                </a>
                            </h5>
                            <p>
                                <span class="html-to-convert">
                                    @s.Html
                                </span>
                            </p>
                        </div>
                    }
                    <hr />
                }

                @if (Model.HasMore || Model.HasLess) {
                    <p>
                        @if (Model.HasLess) {
                            <a class="btn btn-primary" href="Feed?key=@Model.Key&offset=@Model.LastOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                &laquo; Previous page
                            </a>
                        }

                        @if (Model.HasMore) {
                            <a class="btn btn-primary" href="Feed?key=@Model.Key&offset=@Model.NextOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                                Next page &raquo;
                            </a>
                        }
                    </p>
                }
            </div>
        </div>
    </div>
} else {
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}